@model TaskManagerMiac.Models.TaskStep

@{
    ViewData["Title"] = "Отклонить";
}

<div class="col-md-6">
    <div class="card mb-4">
        <form asp-action="Deny">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5 class="card-header">задача: @ViewData["TaskName"]</h5>
            <div class="card-body demo-vertical-spacing  demo-only-element ">
                <input type="hidden" asp-for="IdTaskStep" />
                <input type="hidden" asp-for="IdTask" class="form-control"></input>
                <div class="form-group">
                    <label>Комментарий</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Отказать" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<a class="btn btn-outline-secondary" href='javascript:history.go(-1)'>Назад</a>
