@model TaskManagerMiac.Dto.LoginDto
@{
    Layout = "~/Views/Shared/_Layout_Unauthorized.cshtml";
    ViewData["Title"] = "Авторизация";
}
<div class="col-md-4">
    <section>
        <form asp-action="Login" asp-controller="Auth" method="post">
            <h2>Войти</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email" class="form-label">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Password" class="form-label">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
            </div>

        </form>
        <a asp-action="Register" class="btn btn-link mt-3">Регистрация</a>
    </section>
</div>