@{
    ViewData["Title"] = ViewData["TaskTitle"];
}


<!-- Прикрепить файл к заявке -->
<div class="row">
    <form asp-action="UploadDocument" method="post" enctype="multipart/form-data">
        <div class="col">
            <div class="card overflow-hidden mb-4">
                <div class="d-flex align-items-center">
                    <h4 class="card-header">Прикрепить файл(ы) к заявке</h4>
                    <p class="fs-4 mt-3 pt-1">@ViewData["TaskTitle"]</p>
                </div>
                <div class="card-body pt-0">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Выбрать файл(ы)</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple name="uploads" />
                    </div>
                        <input type="submit" value="Загрузить" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /Прикрепить файл к заявке -->

@* <h2>Прикрепить файл к заявке "@ViewData["TaskTitle"]"</h2>
<div class="row">
    <form asp-action="UploadDocument" method="post" enctype="multipart/form-data">
        <input type="file" name="uploads" multiple="multiple" /><br>
        <input type="submit" value="Загрузить" />
    </form>
</div> *@

<a class="btn btn-outline-secondary" href='javascript:history.go(-1)'>Назад</a>