@model TaskManagerMiac.Models.User

@{
    ViewData["Title"] = "Пользователь";
}

<div class="col-md-6">
    <div class="card mb-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5 class="card-header">Пользователь</h5>
            <div class="card-body demo-vertical-spacing  demo-only-element">
                <input type="hidden" asp-for="IdUser" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label">Имя</label>
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label">Фамилия</label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Patronymic" class="control-label">Отчество</label>
                    <input asp-for="Patronymic" class="form-control" />
                    <span asp-validation-for="Patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Snils" class="control-label">СНИЛС</label>
                    <input asp-for="Snils" class="form-control" />
                    <span asp-validation-for="Snils" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdGroup" class="control-label">Отдел</label>
                    <select asp-for="IdGroup" class="form-control" asp-items="ViewBag.IdGroup"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdRole" class="control-label">Роль</label>
                    <select asp-for="IdRole" class="form-control" asp-items="ViewBag.IdRole"></select>
                </div>
                <div class="form-check form-switch mb-2">
                    <input asp-for="IsActive" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                    <label asp-for="IsActive" class="form-check-label" for="flexSwitchCheckDefault">Активно</label>
                </div>
                <div class="form-group">
                    <label asp-for="RegistrationDate" class="control-label">Дата регистрации</label>
                    @Html.DisplayFor(m => m.RegistrationDate, new { @Value = Model.RegistrationDate.ToString("dd-MMM-yyyy hh-mm-ss") })
                    <input readonly hidden asp-for="RegistrationDate" type="datetime-local" class="form-control" />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastEnterDate" class="control-label">Дата последнего входа</label>
                    @Html.DisplayFor(m => m.LastEnterDate, new { @Value = Model.LastEnterDate.ToString("dd-MMM-yyyy hh-mm-ss") })
                    <input readonly hidden asp-for="LastEnterDate" type="datetime-local" value="" class="form-control" />
                    <span asp-validation-for="LastEnterDate" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<div class="mb-3">
    <a class="btn btn-outline-secondary" asp-action="Index">Назад</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

