@model TaskManagerMiac.Models.UserHasTaskStep

@{
    ViewData["Title"] = "Смена исполнителя";
}

<div class="col-md-6">
    <div class="card mb-4">
        <form asp-action="ChangePerformer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5 class="card-header">задача <strong>@ViewData["TaskName"]</strong></h5>
            <div class="card-body demo-vertical-spacing  demo-only-element">

                <input type="hidden" asp-for="IdTaskStep" />
                <div class="form-group">
                    <label>Исполнитель</label>
                    <select asp-for="IdUser" class="form-control" asp-items="ViewBag.UserIdPerformer"></select>
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                    <div class="form-check mt-3">
                        <input asp-for="IsResponsible"
                               class="form-check-input" type="checkbox" id="defaultCheck3" checked />
                        <label class="form-check-label" for="defaultCheck1"> Ответственный </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Подтвердить" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<div class="mb-3">
    <a class="btn btn-outline-secondary" href='javascript:history.go(-1)'>Назад</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}