@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<div>
    <p><a asp-action="GroupTasks" class="btn btn-outline-success">Заявки в ваш отдел</a></p>
    <p><a asp-action="AllTasks" class="btn btn-outline-success">Все активные заявки</a></p>
</div>