@{
    Layout = "~/Views/Shared/_Layout_Unauthorized.cshtml";
    ViewData["Title"] = "Главная";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">tasker</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Управление задачами</p>
    
        <div class="d-grid gap-2 col-lg-6 mx-auto">
            <a class="btn btn-primary btn" type="button" asp-area="" asp-controller="Auth" asp-action="Login">Войти</a>
        </div>
    </div>
</div>