@{
    ViewData["Title"] = "Главная";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Tasker</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Простой документооборот</p>
       @*  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" asp-area="" asp-controller="Auth" asp-action="Index">Войти</a>
        </div> *@
    </div>
</div>