@{
    ViewData["Title"] = "Нет прав";
}
<h1 class="text-center">@ViewData["Title"]</h1>
@* 
<p>Сервис доступен только авторизованным пользователям</p> *@

<p class="text-center"><a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Index">На главную</a></p>
